body {
  font-family: "Jost", sans-serif;
}
.responsive-sm {
  display: none;
}

.navbar-brand {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}
.navbar {
  padding: 10px 50px;
}
#navbarNav {
  margin-left: 33%;
  display: flex;
}

.bg-1 {
  background-image: url("assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-grad-1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
}
.highlight-right {
  width: 100%;
  padding: 120px 60px;
}
.special-offer {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1em;
  margin-bottom: 35px;
}
.offer-highlight-text {
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 20px;
}
.offer-subtext {
  font-weight: 500;
  font-size: 1.2em;
}
.shop-now {
  border-color: black;
  color: black;
  border-radius: 0;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 10px 25px;
  margin-top: 40px;
}

.green-line-sm {
  height: 3px;
  width: 10%;
  background-color: #81ba00;
}
.showcase-btn {
  border: none;
  background-color: white;
  border-bottom: 1.5px solid black;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 3px;
}
.plant-label {
  margin-top: -40px;
  font-weight: 600;
}
.showcase-right {
  padding-left: 48px;
}
.arrow-box {
  height: 50px;
  width: 50px;
  padding-top: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  cursor: pointer;
  font-size: 1.5rem;
}
.arrow-left {
  left: 6%;
}
.arrow-right {
  right: -4%;
}

.best-seller-title {
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.best-seller-items {
  margin-top: 80px;
  margin-bottom: 160px;
}
.best-seller-item-name {
  font-size: 1.125rem;
}
.best-seller-item-price {
  font-weight: 600;
  color: #81ba00;
  font-size: 1.2rem;
}
.best-seller-item-price-previous {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 5px;
  text-decoration: line-through;
}

.plant-types-desc {
  transform: translateY(-50%);
  top: 50%;
  left: 40px;
}
.plant-types-desc p {
  letter-spacing: 3px;
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.plant-types-desc h4 {
  font-weight: 700;
  font-size: 2rem;
}
.plant-types-desc button {
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 12px;
  padding: 8px 25px;
}

@media (max-width: 1200px) {
  .responsive-md-reverse {
    display: none;
  }

  .navbar .d-flex {
    display: none;
  }
  .navbar .navbar-toggler {
    display: block;
  }
  .navbar .navbar-collapse {
    display: none !important;
  }
  .navbar .navbar-toggler:focus + .navbar-collapse {
    display: block;
  }

  .highlight-right .special-offer {
    font-size: 0.9rem;
  }
  .highlight-right .offer-highlight-text {
    font-size: 2.7rem;
  }
  .highlight-right .offer-subtext {
    font-size: 1.08rem;
  }

  .showcase {
    flex-direction: column;
  }
  .showcase-left {
    width: 100% !important;
    align-items: center;
  }
  .showcase-right {
    padding-left: 0px;
  }
  .arrow-left {
    left: 0%;
  }
  .arrow-right {
    right: -17.5%;
  }
}

@media (max-width: 768px) {
  .responsive-sm {
    display: block;
  }

  .highlight-left {
    display: none;
  }
  .bg-1-responsive {
    z-index: -1;
    top: 0;
    left: 0;
  }
  .bg-grad-1-responsive {
    z-index: -1;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 120%);
  }
}
